#Copyright (c) 2019 Qualcomm Technologies, Inc.
#All Rights Reserved.
#Confidential and Proprietary - Qualcomm Technologies, Inc.

#on early-init
#   start vendor.qcarcam_edrm_rvc

#on property:sys.boot_completed=1
#    stop vendor.qcarcam_edrm_rvc

#declaring qcarcam_edrm_rvc to be started on early_init
#service vendor.qcarcam_edrm_rvc /vendor/bin/qcarcam_edrm_rvc
#service vendor.qcarcam_edrm_rvc /vendor/bin/qcarcam_edrm_rvc -noDisplay -dumpFrame=90
#    class core
#    user system
#    group camera input graphics
#    oneshot
#    disabled
