service aidl_camera_provider-V1-qti /vendor/bin/hw/android.hardware.camera.provider@V1-qti-service
    interface aidl android.hardware.camera.provider.ICameraProvider/vendor_qti/0
    class hal
    user system
    group audio camera input drmrpc
    capabilities SYS_NICE
    ioprio rt 4
    task_profiles CameraServiceCapacity MaxPerformance


