#Copyright (c) 2019 Qualcomm Technologies, Inc.
#All Rights Reserved.
#Confidential and Proprietary - Qualcomm Technologies, Inc.

#declaring AIS service to be started after boot complete
#service ais_server /system/vendor/bin/ais_server
#    class core
#    user system
#    group camera input graphics
#    disabled
#    onrestart restart qcarcam_hal
#    onrestart restart evs_driver

#on early-init
#Create folder for ais_server
#    mkdir /dev/socket/camera 0770 system camera
#start AIS server as daemon
#    start ais_server
