#Copyright (c) 2021, 2023 Qualcomm Technologies, Inc.
#All Rights Reserved.
#Confidential and Proprietary - Qualcomm Technologies, Inc.

#declaring AIS v4l2 proxy service to be started after boot complete
service ais_v4l2_proxy /vendor/bin/ais_v4l2_proxy
    user system
    group camera input graphics system
    disabled
    on property:vendor.ais.v4l2.proxy.ready=1
        restart vendor.camera-provider-2-4
on post-fs
    start ais_v4l2_proxy
