service touch_hal /vendor/bin/vendor.visteon.touch-service
    class hal
    user root
    group root system inet sdcard_rw
	disabled
 #seclabel u:r:hal_visteon_touch:s0
    seclabel u:r:su:s0
	
on late-init
    start touch_hal
	
on userspace-reboot-resume
    restart touch_hal