# Copyright (c) 2013-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

# Changes from Qualcomm Innovation Center are provided under the following license:
# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

import /vendor/etc/init/hw/init.qti.kernel.rc

on early-init
    write /proc/sys/kernel/sched_boost 1
    symlink /data/tombstones /tombstones
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC Userspace Start"

# Elite
on early-init && property:ro.boot.audio=""
     setprop vendor.audio.card.def "/vendor/etc/card-defs-dummy.xml"

# AudioReach
on early-init && property:ro.boot.audio=audioreach
     setprop ro.hardware.audio.primary "msmnile.ar"
     setprop ro.hardware.sound_trigger.primary "msmnile.ar"

# AudioReach
on early-init && property:ro.boot.audio=audioreach_gen3
     setprop ro.hardware.audio.primary "msmnile.ar"
     setprop ro.hardware.sound_trigger.primary "msmnile.ar"

on init
    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on init && property:vendor.gdb.dump=true
    setrlimit 4 -1 -1

on property:vendor.gdb.dump=true
    mkdir data/core
    chmod 0777 data/core
    write /proc/sys/kernel/core_pattern "/data/core/core.%e.%p.%h.%t"

on fs
    mount_all --early
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    chown system system /mnt/map_data
    chmod 0777 /mnt/map_data

on late-fs
    mount_all --late

on post-fs
    start vendor.sec_nvm

on post-fs-data
    mkdir /vendor/data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /data/vendor/hbtp 0750 system system
    mkdir /data/vendor/tloc 0700 system drmrpc
    mkdir /data/vendor/nnhal 0700 system system

    #Create folder for ais_server
    mkdir /dev/socket/camera 0770 system camera
	
# Start the UART port for RW mode in console
service console /system/bin/sh
    class core
    console
    user root
	group root
    seclabel u:r:console:s0

on property:ro.debuggable=1
	write /dev/kmsg "UART CONSOLE: Starting console service to enable console RW..."
    start console

on early-boot
    #start wlan_ko
    write /dev/kmsg "nFore wlan driver insmod started"
    insmod /vendor/lib/modules/wlan_drv_gen4_mt7961.ko
    write /dev/kmsg "nFore wlan driver insmod done"

# For cpusets initialize for Silver Only first and then Silver + Gold
# Silver Only configuration cannot work with 0-7
on boot
    chown system system /sys/kernel/hbtp/display_pwr
    start rmt_storage
    start rfs_access

    # Create netmgr recovery folder
    mkdir /data/vendor/netmgr/recovery 0700 radio radio
    chmod 0770 /data/vendor/netmgr/recovery
    write /data/vendor/netmgr/recovery/recovery_info ""
    chown radio radio /data/vendor/netmgr/recovery/recovery_info

    #update cpusets for background tasks on gvm
    write /dev/cpuset/background/cpus 4-7
    write /dev/cpuset/system-background/cpus 4-7
	
    # Mount ota_shared
    mkdir /data/ota_shared 0777 root system
    mount vfat /dev/block/ota_shared /data/ota_shared rw,noatime,nosuid,nodev uid=0,gid=1000
    
    # Mount mydrive 
    mkdir /mnt/mydrive 0777 system system
    mount ext4 /dev/block/mydrive /mnt/mydrive rw,noatime,nosuid,nodev defaults
    chown system system /mnt/mydrive/Ringtones
    chown system system /mnt/mydrive
    chmod 0777 /mnt/mydrive
    #Permission to uart and bt node
    chmod 0666 /dev/ttyHS1
    chown root root /dev/ttyHS1
    chmod 0666 /dev/bt_status
    #start uart launcher for primary bt
    start uart_launcher

# Add a cpuset for the camera daemon
# We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

#USB controller configuration
    setprop vendor.usb.rndis.func.name "gsi"
    setprop vendor.usb.rmnet.func.name "gsi"
    setprop vendor.usb.rmnet.inst.name "rmnet"
    setprop vendor.usb.dpl.inst.name "dpl"
    setprop vendor.usb.qdss.inst.name "qdss"
    setprop sys.usb.configfs 1

on property:ro.boot.usbcontroller=*
    setprop vendor.usb.controller ${ro.boot.usbcontroller}

on boot && property:persist.vendor.usb.controller.default=*
    setprop vendor.usb.controller ${persist.vendor.usb.controller.default}

on property:vendor.usb.controller=*
    setprop sys.usb.controller ${vendor.usb.controller}

on property:init.svc.zygote=running
    write /sys/kernel/boot_kpi/kpi_values "M - USER Zygote Start"

on property:service.bootanim.exit=0
    write /sys/kernel/boot_kpi/kpi_values "K - USER Boot Animation Start"

on property:sys.boot_completed=1
    write /sys/kernel/boot_kpi/kpi_values "K - USER Android Boot Complete"
    start uart_launcher
    setprop sys.usb.ffs.ready 1
    setprop sys.usb.config none
    setprop sys.usb.config adb
    stop adbd
    start adbd
    write /dev/kmsg "Visteon: Telnetd starting.............."
    start busybox-telnetd-sh

on property:init.svc.surfaceflinger=running
    write /sys/kernel/boot_kpi/kpi_values "M - USER SurfaceFlinger Start"

#pd-mapper
service vendor.pd_mapper /vendor/bin/pd-mapper
    class core
    user system
    group system

service wlan_multiko /vendor/bin/init.qcom.wlan.sh
    user root
    group root
    disabled
    oneshot

service vendor.sec_nvm /vendor/bin/sec_nvm
    class core
    user system
    group system

service vendor.thermal-engine /vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   socket thermal-send-rule stream 0660 system system
   group root

service amfsservice /vendor/bin/amfsservice
    class main
    user system
    group system

service audiod /vendor/bin/audiod
    class main
    user system
    group system wakelock
    capabilities BLOCK_SUSPEND

service vendor.mdm_helper /vendor/bin/mdm_helper
    class core
    group system wakelock
    disabled

service vendor.mdm_launcher /vendor/bin/sh /vendor/bin/init.mdm.sh
    class main
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start cnss_diag

service cnss_diag /system/vendor/bin/cnss_diag -q -f -t HELIUM
    class main
    user system
    group system wifi inet sdcard_rw media_rw diag
    oneshot

service vendor.energy-awareness /vendor/bin/energy-awareness
    class main
    user system
    group system
    oneshot

service vendor.tlocd /vendor/bin/tloc_daemon
    class late_start
    user system
    group drmrpc gps net_raw

#Start EMAC ethernet driver
on boot
    insmod /vendor/lib/modules/emac_dwc_eqos.ko

#uart_launcher service
service uart_launcher /vendor/bin/uart_launcher -c 3000000 -f 3 -p /dev/ttyHS1

on property:sys.boot_completed=1
    mkdir /data/vendor/fastcv 0700 media media
    start fastcv

service fastcv /vendor/bin/fastcv.sh
    user media
    group media
    disabled
    oneshot

service busybox-telnetd-sh /vendor/bin/visteon.telnetd.service
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:su:s0

