service android.hardware.automotive.evs-ais /vendor/bin/android.hardware.automotive.evs-ais
    class early_hal
    priority -20
    user system
    group automotive_evs camera
    onrestart restart automotive_display
    disabled

on late-init
    start android.hardware.automotive.evs-ais
    start automotive_display

on userspace-reboot-resume
    restart android.hardware.automotive.evs-ais

on property:vendor.evs.qcc4.hal.ready=1
    restart evsmanagerd
