# Copyright (c) 2018-2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#
service qti-audiocontrol-hal-1.0 /vendor/bin/hw/vendor.qti.hardware.automotive.audiocontrol@1.0-service
    class hal
    user audioserver
    group system
