# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#
service qti-dvr-hal-1-0 /vendor/bin/hw/vendor.qti.dvr@1.0-service
    class hal
    user system
    group system
